<div id="welcome_div_2">
<br/>
<br/>
<br/>
<div id="product_header" style="margin-left:400px;color:whitesmoke;">
   <h3 id="product_logo">Our Products</h3>
</div>
<br/>
<br/>
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel" style="width:150%;margin-left:80px;">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div class="links" id="links" style="display:none;">
	<a href="assets/bedroom.jpg" title="Bedrooms" data-gallery="" data-unique-id="tmp_1">
        <img src="assets/bedroom.jpg"/>
	</a>
	<a href="assets/wardrobes.jpg" title="Wardrobes" data-gallery="" data-unique-id="2">
        <img src="assets/wardrobes.jpg"/>
	</a>
	<a href="assets/tv_cabinet.jpg" title="TV Cabinets" data-gallery="" data-unique-id="3">
        <img src="assets/tv_cabinet.jpg"/>
	</a>
	<a href="assets/modular_storage.jpg" title="Modular Storages" data-gallery="" data-unique-id="tmp_4">
        <img src="assets/modular_storage.jpg"/>
	</a>
        <a href="assets/kitchen.jpg" title="Modular Kitchens" data-gallery="" data-unique-id="tmp_7">
        <img src="assets/kitchen.jpg"/>
        </a>
</div>
</div>
