<div id="intro" style="background-color:rgba(128, 128, 128, 0.35);">
<h3> Who are we </h3>
<span style="color:white">Founded in 2011, we are team of passioned architectures and interior designers. Well trained in these niche crafts and having highly talented and skilled craftemen. Rest assured you can forget about yr interior worries and relax. 
</span>
<h3>Our Team </h3>
<h3>Our successfull projects </h3>
</div>
