<div id="welcome_div1">
<div id="logo">
</div>
<div id="company_name" >
<h1>Amardeep Interiors Design Company</h1>
</div><br/>
<div id="company_description"
<span>Your interiors done right</span>
</div>
<table id="header_table">
<tr>
<td>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">Home
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/?sector_id=1&customer_view=1" target="blank" >Company History</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="list_jobs" target="blank" >Our Goal</a></li>
    </ul>
</div>
</td>
<td>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">Our Products
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/jobs/?sector_id=1&customer_view=1" target="blank" >Bedrooms</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="list_jobs" target="blank" >Kitchens</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="list_jobs" target="blank" >Wardrobes</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="list_jobs" target="blank" >TV Cabinets</a></li>
    </ul>
</div>
</td>
<td>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="menu2" type="button" data-toggle="dropdown">About Us
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/welcome/contact" target="blank" >Contact</a></li>
    </ul>
</div>
</td>
</tr>
</table>
<%=render :partial=>"show_intro"%><br/>
</div>
<%=render :partial=>"show_design_intro"%>
