<!DOCTYPE html>
<html>
<head>
  <title>Interiors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin:0px; background-image:url('assets/body_background_2.jpg');background-repeat:no-repeat;background-size:cover;">
<%= yield %>

</body>
</html>
